*{
  box-sizing: border-box;
}
.stories {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.story:hover{
  transform: scaleX(1.05)
              scaleY(1.05)
              ;
}

.story:hover .story-img {
  transform: scale(1.08);
}

.story{
  height: 300px;
  width: 200px;
  background-color: aliceblue;
  color: rgb(30, 30, 60);
  margin: 15px;
  box-shadow: 4px 4px 8px rgb(20, 20, 20);
  transition: 200ms;
  cursor: pointer;
  border-radius: 12px;


}

p {
  margin-block-start: 0;
  margin-block-end: 0;
}

h1 {
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 15px;
}

.info-container{
  height: 40%;
  padding: 10px;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.img-container {
  height: 60%;
  overflow: hidden;
}

.story-img {
  height: 125%;
  transition: 200ms;
}

a {
  color: rgb(30, 30, 60);
  text-decoration: none;
}

a:hover {
  color: rgb(30, 30, 60);
  cursor: pointer;
}

.isloading {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #61dafb; /* Blue */
  /* border-top: 16px solid #3498db; Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.delay-150{
  animation-delay: 100ms;
}
.delay-300{
  animation-delay: 200ms;
}
.delay-450{
  animation-delay: 300ms;
}
.delay-600{
  animation-delay: 400ms;
}
.delay-750{
  animation-delay: 500ms;
}
.delay-900{
  animation-delay: 900ms;
}
.delay-1050{
  animation-delay: 1050ms;
}
.delay-1200{
  animation-delay: 1200ms;
}
.delay-1350{
  animation-delay: 1350ms;
}
.delay-1500{
  animation-delay: 1500ms;
}
.delay-1650{
  animation-delay: 1650ms;
}
.delay-1800{
  animation-delay: 1800ms;
}
.delay-2100{
  animation-delay: 2100ms;
}
.delay-2250{
  animation-delay: 2250ms;
}
.delay-2400{
  animation-delay: 2400ms;
}
